body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  background: radial-gradient(#d1d2da, #7d84d3);
  overflow: hidden;
  color: white;
}

.FCHSLogo {
  position: absolute;
  width: 8vw;
  top: 3vh;
  right: 5vh;  
}

h1 {
  font-size: 4vw;
  text-align: center;
}

h2 {
  font-size: 2.5vw;
}

#time{
  height: 20vh;
  width: 35vw;
  font-size: 6vw;
  margin: auto;
  text-align: center;
  background: white;
  color: rgb(55, 84, 165);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3vw;
  margin-top: 3vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 45px;
}

#bellschedule{
  position: absolute;
  top: 3vh;
  left: 5vw;
  width: 25vw; 
  height: fit-content;
  background: white;
  color: rgb(55, 84, 165);
  text-align: center;
  padding: 2vw;
  border-radius: 3vw;
  font-size: 1.4vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 45px;

}

#announcements {
  width: 35vw;
  min-height: 20vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  color: rgb(55, 84, 165);
  font-size: 1.4vw;
  border-radius: 3vw;
  margin-top: 5vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 45px;
}

.announcement-form{
  width: 80vw;
  text-align: center;
  margin: auto;
  margin-top: 10vh;
}




@media (max-width: 425px) {
  #root{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 100vh;
  }

  .FCHSLogo {
    display: none;
  }

  #time {
    width: 80vw;
    height: 30vh;
    font-size: 13vw;
    margin-bottom: 5vh;
  }

  #bellschedule{
    position: relative;
    width: 80vw; 
    height: fit-content;
    left: 0;
    top: 0;
    margin: auto;
    background: white;
    color: #2d3bdb;
    text-align: center;
    padding: 2vw;
    border-radius: 3vw;
    font-size: 3vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 45px;
  }

  h2{
    font-size: 5vw;
  }
}